<pre>
    [Yesterday 12:30] Pramod Bavchikar




 

Junior Software Engineer - Front-end
Focus Area	Skillset Requirement	Remarks	Criteria	Expected 

Level	Mentor Level	Feedback Remarks (in Body of Feedback)
Design Principles	OOPS	 	Important	Intermediate	 	 
Design Principles (SOLID/KISS/DRY/YAGNI)	 	Important	Intermediate	 
Design Patterns	 	Important	Intermediate	 
NodeJS	NodeJS fundamentals
	 	Important	Intermediate	 
Callback, Events and event loop,	 	Important	Intermediate	 
event emitter

node modules and package.json
	 	Important	Intermediate	 
Nodejs Module system and patterns
	 	Important	Intermediate	 
ES6
	 	Important	Intermediate	 
Async Development

Commonly used modules like fs, streams, url	 	Important	Intermediate	 
Debugging, Command Line, Error Handling	 	Important	Intermediate	 
Intro to RESTFul Web services

Frameworks

Intro to ExpressJS

Concept of middleware	 	Important	Intermediate	 
SQL Basic	 	Important	Novice	 
Working with database(PostgreSQL)	 	Important	Intermediate	 
Working with raw queries using pg

Working with ORM using sequelize	 	Important	Novice	 
React	ReactJS Fundamentals


Introducing JSX, Overview


Rendering Elements,


Components and Props,


State and Lifecyle	 	Important	Intermediate	 
Module 1:


Overview of React , elements and components, JSX

Composition over inheritance

How browsers handles render, reflow/repaint

VDOM concept + Fiber.js in v16

Dev infrastructure: webpack, babel, source-maps, react-hot-loader, react-dev-tools, (react-create app)	 	Important	Intermediate	 
Module 2:


Stateless vs Stateful component

Props and state

Lifecycle

Error boundaries	 	Important	Intermediate	 
SSR, Performance	 	Important	Novice	 
Handling events

Flow – static type checker

React infrastructure:

Model level – flux, redux (store, reducers, actions, async stuff)

React-router

Jest + enzyme	 	Important	Intermediate	 
Angular	Introduction to Web Development

Introduction to Angular

Angular Architecture

Angular Version History

Angular CLI Basics

Introduction to Typescript

Setup Angular Project

Angular Project Structure

Components

Modules

Angular App Bootstrapping

Typescript Basics, Angular Decorators	 	Important	Intermediate	 
Data Binding

Event Binding

Custom Property or Event Binding

Content Projection

Element References (ViewChild, ContentChild)


Dependency Injection

Hierarchical Injection

Services

@Injectable()

Routing

Basic Routing

Feature Routing

Lazy Loading Modules using Routing	 	Important	Intermediate	 
Directives Basics

Attribute Directives

HostListener, HostBinding

Built In Directives

Structural Directives

Create Structural Directive

Angular Component Life Cycle Hooks

Observables

Pipes

Reactive Forms	 	Important	Intermediate	 
HTTP Service

Forms 

Template Driven

Dynamic Forms Thinking

Advance Routing

Change Detection Strategy	 	Important	Intermediate	 
Basics of Animations

Basics of PWA

Basics of Service Workers

Basics of Web workers

Basics of SSR

Deployment	 	Important	Novice	 
Unit Testing	 	Important	Intermediate	 
Data Structures & Algorithms	Problem Solving Skills

Analysis of Algorithms	 	Important	Intermediate	 
Recursion

Divide and Conquer

Dynamic Programming

Backtracking

Greedy Method	 	Important	Intermediate	 
Data Structures	 	Important	Intermediate	 
Sorting Algorithms	 	Important	Intermediate	 
String Algorithms	 	Important	Intermediate	 
Searching Algorithms	 	Important	Intermediate	 
Graph Theory Algorithm	 	Important	Intermediate	 
Tree Traversing Algorithms	 	Important	Intermediate	 
NON-TECHNICAL PARAMETERS	Communication /Interpersonal Skills	* Expresses ideas and thoughts clearly

* Work cooperatively with peers to set responsibilities

* Share's information, suggestions to accomplish mutual goals	Important	Intermediate	 
Scalable	* The Potential of the employee, aspiration, planning to shape the career, Learnability, application of thoughts, extra mile inclinations, intuitive, exploring	Important	Intermediate	 
Start – up Mindset	* I can do it attitude

* Fail Early and Learn

* Open to take risk	Important	Intermediate	 
Learning	* Open to Feedback

* Collaboration	Important	Intermediate	 
Results Driven	* Works to overcome challenges to meet goals

* Ability to take actions to closure 

* Create accountability for Goals	Important	Intermediate	 
Problem Solver	* Clarifies Expectations

* Curious to Know WHY

* Think Big	Important	Intermediate	 

 




 star 1







[Yesterday 12:30] Pramod Bavchikar




Syllabus for 2nd Half







[Yesterday 12:31] Vikas Gundarapu




Thankyou Pramod







[Yesterday 12:32] Gokulsai Vannemreddy




Ok Pramod Thank you







[Yesterday 12:32] Karthik Mamidishetti




Thank you pramod.







[Yesterday 12:32] Pramod Bavchikar




 

0 —No Knowledge — has no idea about the topic 

1 — Novice — some theoretical knowledge and can do simple tasks and understand code samples 

2 — Intermediate — can do normal tasks without being constantly supervised, Hands on experience required

3 — Advanced — has appropriate experience and can perform the majority of real-life tasks, individual contributor

4 — Expert — has deep understanding, can mentor and educate the team members

 



</pre>